{% extends "base.html" %}


{% block body_block %}
<div class="container d-flex flex-column justify-content-center mt-5 align-items-center">
    
        
    <h1 class="mb-2 "><i class="fa-solid fa-mobile-screen-button me-3"></i>{{data.name}}</h1>
      
    <div class="card m-3 p-3" style="max-width: 600px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
        <div class="row g-0">
          <div class="col-md-4">
            {% if data.picture %}
      <img src="{{data.picture.url}}" style="height: 300px; width: 100%;">
        
      {% endif %}

          </div>
          <div class="col-md-8">
            <div class="card-body" >
              <h5 class="card-title">{{data.name}}</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Price:{{data.price}}</li>
                <li class="list-group-item">Brand:{{data.brand}}</li>
                <li class="list-group-item">Spec:{{data.specs}}</li>
                <li class="list-group-item">Display:{{data.display}}</li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock body_block %}